{% load static %}

<!DOCTYPE>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-with, initial-scale=1.0">
        <title>Your Review</title>
        <link rel="stylesheet" href="{% static "reviews/styles.css" %}">
    </head>
    <body>
        <form action="/" method="POST">
            {% csrf_token %}
            <div class="form-control {%if form.user_name.errors %}errors{% endif %}">
                {{ form.user_name.label_tag }}
                {{ form.user_name }}
                {{ form.user_name.errors }}
            </div>
            <button>Send</button>
        </form>
    </body>
</html>